.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  &_outline {
    border-bottom: 1px solid black;
  }
  label {
    margin-bottom: 10px;
    font-size: 18px;
    @media only screen and (max-width: 340px) {
      width: 150%;
    }
  }
  input {
    padding: 0px;
    font-size: 28px;
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &.search {
    input {
      font-size: 18px;
      padding: 5px;
      border: 2px solid black;
      border-radius: 0px;
    }
  }
}

.search {
  position: relative;
  background-color: #c4ebc4;
  .input {
    margin-bottom: 0;
    padding: 0;
  }
}
