.button {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 8px;
  margin: 20px auto;
  min-width: 200px;
  cursor: pointer;
  border: 2px solid green;
  &:hover,
  &:focus,
  &:active {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  &:active {
    background-color: #0b220b;
    border-color: #0b220b;
  }
  &.swap {
    background-color: #c4ebc4;
    min-width: auto;
    padding: 0 10px 0 10px;
    margin: 28px 0 auto auto;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: 37px;
   }
    .image {
      padding: 0;
      &_tag {
        width: 30px;
      }
    }
  }
  &.calculate {
    font-size: 18px;
  }
}
