.button {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 8px;
  margin: 20px auto;
  min-width: 200px;
  cursor: pointer;
  border: 2px solid green;
  &:hover,
  &:focus,
  &:active {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  &:active {
    background-color: #0b220b;
    border-color: #0b220b;
  }
}
