.button {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 8px;
  margin: 20px auto;
  min-width: 200px;
  cursor: pointer;
  border: 2px solid green;
  &:hover,
  &:focus,
  &:active {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  &:active {
    background-color: #0b220b;
    border-color: #0b220b;
  }
  &.swap {
    background-color: #c4ebc4;
    min-width: unset;
    padding: 0 10px 0 10px;
    margin: auto 0 20px auto;
    .image {
      padding: 0;
    }
  }
}
