@import './components/Button/Button.scss';
@import './components/Input/Input.scss';
@import './components/Select/Select.scss';
@import './components/Error/Error.scss';
@import './components/Image/Image.scss';

html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    button {
        font-family : inherit;
    }
}

h1 { color: green }

.currency-converter {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    border: 2px solid darkgreen;
    border-radius: 8px;
    font-size: 18px;
    h1 {
        text-align: center;
    }
    &__input {
        display: flex;
    }
}